---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b /usr/local/bin v2.6.2

      - name: Install Mockgen
        run: go install go.uber.org/mock/mockgen@v0.6.0

      - name: Install generator tool
        run: go install github.com/inference-gateway/tools/cmd/generator@v0.1.2

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 'lts/*'

      - name: Install prettier
        run: npm install -g prettier

      - name: Format Go files
        run: find . -name '*.go' -exec gofmt -w {} \;

      - name: Format markdown files
        run: find . -name '*.md' -exec prettier -w {} \;

      - name: Tidy Go modules
        run: find . -name 'go.mod' -execdir go mod tidy \;

      - name: Run generate
        run: generator -generator jsonrpc -package types schema.yaml types/generated_types.go

      - name: Check dirty
        run: git diff --exit-code

      - name: Run Lint
        run: golangci-lint run

      - name: Build
        run: go build .

      - name: Test
        run: go test -v ./...
